extends layout

block content
  h1= title
  p Welcome to #{title}
  script.
    var body = document.getElementsByTagName("body")[0];

    const xhr = new XMLHttpRequest(),
      method = "GET",
      url = "https://testing-api-one.herokuapp.com/";

    xhr.open(method, url, true);
    xhr.onreadystatechange = function () {
      // In local files, status is 0 upon success in Mozilla Firefox
      if(xhr.readyState === XMLHttpRequest.DONE) {
        //let body = xhr.response;
        xhr.response(function(){
          let texts = document.createTextNode();
          texts.appendChild(xhr.response.name);
          let divs = document.createElement("div");
          divs.appendChild(texts);
          
        })
        body.appendChild(divs);
        
      }
    };
    xhr.send();
