doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/images/apple-touch-icon.png")
    link(rel="manifest" href="/site.webmanifest")
    script(src='./dist/main.js')
  body
    block content
